<?xml version="1.0" ?>
<robot name="tiago_pro" xmlns:xacro="http://ros.org/wiki/xacro">
    <disable_collisions link1="gripper_left_allegro_tc_out_link" link2="gripper_left_coupler_link" reason="Adjacent"/>
    <disable_collisions link1="gripper_left_allegro_tc_out_link" link2="gripper_left_finger_1_flexor_1_link" reason="Never"/>
    <disable_collisions link1="gripper_left_allegro_tc_out_link" link2="gripper_left_finger_1_flexor_2_link" reason="Never"/>
    <disable_collisions link1="gripper_left_allegro_tc_out_link" link2="gripper_left_finger_1_flexor_3_link" reason="Never"/>
    <disable_collisions link1="gripper_left_allegro_tc_out_link" link2="gripper_left_finger_1_rotatory_link" reason="Never"/>
    <disable_collisions link1="gripper_left_allegro_tc_out_link" link2="gripper_left_finger_1_tip_link" reason="Never"/>
    <disable_collisions link1="gripper_left_allegro_tc_out_link" link2="gripper_left_finger_2_flexor_1_link" reason="Never"/>
    <disable_collisions link1="gripper_left_allegro_tc_out_link" link2="gripper_left_finger_2_flexor_2_link" reason="Never"/>
    <disable_collisions link1="gripper_left_allegro_tc_out_link" link2="gripper_left_finger_2_flexor_3_link" reason="Never"/>
    <disable_collisions link1="gripper_left_allegro_tc_out_link" link2="gripper_left_finger_2_rotatory_link" reason="Never"/>
    <disable_collisions link1="gripper_left_allegro_tc_out_link" link2="gripper_left_finger_2_tip_link" reason="Never"/>
    <disable_collisions link1="gripper_left_allegro_tc_out_link" link2="gripper_left_finger_3_flexor_1_link" reason="Never"/>
    <disable_collisions link1="gripper_left_allegro_tc_out_link" link2="gripper_left_finger_3_flexor_2_link" reason="Never"/>
    <disable_collisions link1="gripper_left_allegro_tc_out_link" link2="gripper_left_finger_3_flexor_3_link" reason="Never"/>
    <disable_collisions link1="gripper_left_allegro_tc_out_link" link2="gripper_left_finger_3_rotatory_link" reason="Never"/>
    <disable_collisions link1="gripper_left_allegro_tc_out_link" link2="gripper_left_finger_3_tip_link" reason="Never"/>
    <disable_collisions link1="gripper_left_allegro_tc_out_link" link2="gripper_left_palm_link" reason="Adjacent"/>
    <disable_collisions link1="gripper_left_allegro_tc_out_link" link2="gripper_left_thumb_finger_tip_link" reason="Never"/>
    <disable_collisions link1="gripper_left_allegro_tc_out_link" link2="gripper_left_thumb_flexor_1_link" reason="Never"/>
    <disable_collisions link1="gripper_left_allegro_tc_out_link" link2="gripper_left_thumb_flexor_2_link" reason="Never"/>
    <disable_collisions link1="gripper_left_allegro_tc_out_link" link2="gripper_left_thumb_flexor_3_link" reason="Never"/>
    <disable_collisions link1="gripper_left_allegro_tc_out_link" link2="gripper_left_thumb_rotatory_link" reason="Never"/>
    <disable_collisions link1="gripper_left_coupler_link" link2="gripper_left_finger_1_flexor_1_link" reason="Never"/>
    <disable_collisions link1="gripper_left_coupler_link" link2="gripper_left_finger_1_flexor_2_link" reason="Never"/>
    <disable_collisions link1="gripper_left_coupler_link" link2="gripper_left_finger_1_flexor_3_link" reason="Never"/>
    <disable_collisions link1="gripper_left_coupler_link" link2="gripper_left_finger_1_rotatory_link" reason="Never"/>
    <disable_collisions link1="gripper_left_coupler_link" link2="gripper_left_finger_1_tip_link" reason="Never"/>
    <disable_collisions link1="gripper_left_coupler_link" link2="gripper_left_finger_2_flexor_1_link" reason="Never"/>
    <disable_collisions link1="gripper_left_coupler_link" link2="gripper_left_finger_2_flexor_2_link" reason="Never"/>
    <disable_collisions link1="gripper_left_coupler_link" link2="gripper_left_finger_2_flexor_3_link" reason="Never"/>
    <disable_collisions link1="gripper_left_coupler_link" link2="gripper_left_finger_2_rotatory_link" reason="Never"/>
    <disable_collisions link1="gripper_left_coupler_link" link2="gripper_left_finger_2_tip_link" reason="Never"/>
    <disable_collisions link1="gripper_left_coupler_link" link2="gripper_left_finger_3_flexor_1_link" reason="Never"/>
    <disable_collisions link1="gripper_left_coupler_link" link2="gripper_left_finger_3_flexor_2_link" reason="Never"/>
    <disable_collisions link1="gripper_left_coupler_link" link2="gripper_left_finger_3_flexor_3_link" reason="Never"/>
    <disable_collisions link1="gripper_left_coupler_link" link2="gripper_left_finger_3_rotatory_link" reason="Never"/>
    <disable_collisions link1="gripper_left_coupler_link" link2="gripper_left_finger_3_tip_link" reason="Never"/>
    <disable_collisions link1="gripper_left_coupler_link" link2="gripper_left_palm_link" reason="Never"/>
    <disable_collisions link1="gripper_left_coupler_link" link2="gripper_left_thumb_finger_tip_link" reason="Never"/>
    <disable_collisions link1="gripper_left_coupler_link" link2="gripper_left_thumb_flexor_1_link" reason="Never"/>
    <disable_collisions link1="gripper_left_coupler_link" link2="gripper_left_thumb_flexor_2_link" reason="Never"/>
    <disable_collisions link1="gripper_left_coupler_link" link2="gripper_left_thumb_flexor_3_link" reason="Never"/>
    <disable_collisions link1="gripper_left_coupler_link" link2="gripper_left_thumb_rotatory_link" reason="Never"/>
    <disable_collisions link1="gripper_left_finger_1_flexor_1_link" link2="gripper_left_finger_1_flexor_2_link" reason="Adjacent"/>
    <disable_collisions link1="gripper_left_finger_1_flexor_1_link" link2="gripper_left_finger_1_flexor_3_link" reason="Never"/>
    <disable_collisions link1="gripper_left_finger_1_flexor_1_link" link2="gripper_left_finger_1_rotatory_link" reason="Adjacent"/>
    <disable_collisions link1="gripper_left_finger_1_flexor_1_link" link2="gripper_left_finger_1_tip_link" reason="Never"/>
    <disable_collisions link1="gripper_left_finger_1_flexor_1_link" link2="gripper_left_finger_2_rotatory_link" reason="Never"/>
    <disable_collisions link1="gripper_left_finger_1_flexor_1_link" link2="gripper_left_finger_3_flexor_1_link" reason="Never"/>
    <disable_collisions link1="gripper_left_finger_1_flexor_1_link" link2="gripper_left_finger_3_flexor_2_link" reason="Never"/>
    <disable_collisions link1="gripper_left_finger_1_flexor_1_link" link2="gripper_left_finger_3_flexor_3_link" reason="Never"/>
    <disable_collisions link1="gripper_left_finger_1_flexor_1_link" link2="gripper_left_finger_3_rotatory_link" reason="Never"/>
    <disable_collisions link1="gripper_left_finger_1_flexor_1_link" link2="gripper_left_finger_3_tip_link" reason="Never"/>
    <disable_collisions link1="gripper_left_finger_1_flexor_1_link" link2="gripper_left_palm_link" reason="Never"/>
    <disable_collisions link1="gripper_left_finger_1_flexor_1_link" link2="gripper_left_thumb_flexor_1_link" reason="Never"/>
    <disable_collisions link1="gripper_left_finger_1_flexor_1_link" link2="gripper_left_thumb_flexor_2_link" reason="Never"/>
    <disable_collisions link1="gripper_left_finger_1_flexor_1_link" link2="gripper_left_thumb_rotatory_link" reason="Never"/>
    <disable_collisions link1="gripper_left_finger_1_flexor_2_link" link2="gripper_left_finger_1_flexor_3_link" reason="Adjacent"/>
    <disable_collisions link1="gripper_left_finger_1_flexor_2_link" link2="gripper_left_finger_1_rotatory_link" reason="Never"/>
    <disable_collisions link1="gripper_left_finger_1_flexor_2_link" link2="gripper_left_finger_1_tip_link" reason="Never"/>
    <disable_collisions link1="gripper_left_finger_1_flexor_2_link" link2="gripper_left_finger_2_rotatory_link" reason="Never"/>
    <disable_collisions link1="gripper_left_finger_1_flexor_2_link" link2="gripper_left_finger_3_flexor_1_link" reason="Never"/>
    <disable_collisions link1="gripper_left_finger_1_flexor_2_link" link2="gripper_left_finger_3_rotatory_link" reason="Never"/>
    <disable_collisions link1="gripper_left_finger_1_flexor_2_link" link2="gripper_left_palm_link" reason="Never"/>
    <disable_collisions link1="gripper_left_finger_1_flexor_2_link" link2="gripper_left_thumb_flexor_1_link" reason="Never"/>
    <disable_collisions link1="gripper_left_finger_1_flexor_2_link" link2="gripper_left_thumb_rotatory_link" reason="Never"/>
    <disable_collisions link1="gripper_left_finger_1_flexor_3_link" link2="gripper_left_finger_1_rotatory_link" reason="Never"/>
    <disable_collisions link1="gripper_left_finger_1_flexor_3_link" link2="gripper_left_finger_1_tip_link" reason="Adjacent"/>
    <disable_collisions link1="gripper_left_finger_1_flexor_3_link" link2="gripper_left_finger_2_rotatory_link" reason="Never"/>
    <disable_collisions link1="gripper_left_finger_1_flexor_3_link" link2="gripper_left_finger_3_flexor_1_link" reason="Never"/>
    <disable_collisions link1="gripper_left_finger_1_flexor_3_link" link2="gripper_left_finger_3_rotatory_link" reason="Never"/>
    <disable_collisions link1="gripper_left_finger_1_flexor_3_link" link2="gripper_left_palm_link" reason="Never"/>
    <disable_collisions link1="gripper_left_finger_1_flexor_3_link" link2="gripper_left_thumb_flexor_1_link" reason="Never"/>
    <disable_collisions link1="gripper_left_finger_1_flexor_3_link" link2="gripper_left_thumb_rotatory_link" reason="Never"/>
    <disable_collisions link1="gripper_left_finger_1_rotatory_link" link2="gripper_left_finger_1_tip_link" reason="Never"/>
    <disable_collisions link1="gripper_left_finger_1_rotatory_link" link2="gripper_left_finger_2_flexor_1_link" reason="Never"/>
    <disable_collisions link1="gripper_left_finger_1_rotatory_link" link2="gripper_left_finger_2_flexor_2_link" reason="Never"/>
    <disable_collisions link1="gripper_left_finger_1_rotatory_link" link2="gripper_left_finger_2_flexor_3_link" reason="Never"/>
    <disable_collisions link1="gripper_left_finger_1_rotatory_link" link2="gripper_left_finger_2_rotatory_link" reason="Never"/>
    <disable_collisions link1="gripper_left_finger_1_rotatory_link" link2="gripper_left_finger_2_tip_link" reason="Never"/>
    <disable_collisions link1="gripper_left_finger_1_rotatory_link" link2="gripper_left_finger_3_flexor_1_link" reason="Never"/>
    <disable_collisions link1="gripper_left_finger_1_rotatory_link" link2="gripper_left_finger_3_flexor_2_link" reason="Never"/>
    <disable_collisions link1="gripper_left_finger_1_rotatory_link" link2="gripper_left_finger_3_flexor_3_link" reason="Never"/>
    <disable_collisions link1="gripper_left_finger_1_rotatory_link" link2="gripper_left_finger_3_rotatory_link" reason="Never"/>
    <disable_collisions link1="gripper_left_finger_1_rotatory_link" link2="gripper_left_finger_3_tip_link" reason="Never"/>
    <disable_collisions link1="gripper_left_finger_1_rotatory_link" link2="gripper_left_palm_link" reason="Adjacent"/>
    <disable_collisions link1="gripper_left_finger_1_rotatory_link" link2="gripper_left_thumb_flexor_1_link" reason="Never"/>
    <disable_collisions link1="gripper_left_finger_1_rotatory_link" link2="gripper_left_thumb_flexor_2_link" reason="Never"/>
    <disable_collisions link1="gripper_left_finger_1_rotatory_link" link2="gripper_left_thumb_rotatory_link" reason="Never"/>
    <disable_collisions link1="gripper_left_finger_1_tip_link" link2="gripper_left_finger_2_rotatory_link" reason="Never"/>
    <disable_collisions link1="gripper_left_finger_1_tip_link" link2="gripper_left_finger_3_flexor_1_link" reason="Never"/>
    <disable_collisions link1="gripper_left_finger_1_tip_link" link2="gripper_left_finger_3_rotatory_link" reason="Never"/>
    <disable_collisions link1="gripper_left_finger_1_tip_link" link2="gripper_left_thumb_rotatory_link" reason="Never"/>
    <disable_collisions link1="gripper_left_finger_2_flexor_1_link" link2="gripper_left_finger_2_flexor_2_link" reason="Adjacent"/>
    <disable_collisions link1="gripper_left_finger_2_flexor_1_link" link2="gripper_left_finger_2_flexor_3_link" reason="Never"/>
    <disable_collisions link1="gripper_left_finger_2_flexor_1_link" link2="gripper_left_finger_2_rotatory_link" reason="Adjacent"/>
    <disable_collisions link1="gripper_left_finger_2_flexor_1_link" link2="gripper_left_finger_2_tip_link" reason="Never"/>
    <disable_collisions link1="gripper_left_finger_2_flexor_1_link" link2="gripper_left_finger_3_rotatory_link" reason="Never"/>
    <disable_collisions link1="gripper_left_finger_2_flexor_1_link" link2="gripper_left_palm_link" reason="Never"/>
    <disable_collisions link1="gripper_left_finger_2_flexor_1_link" link2="gripper_left_thumb_flexor_1_link" reason="Never"/>
    <disable_collisions link1="gripper_left_finger_2_flexor_1_link" link2="gripper_left_thumb_flexor_2_link" reason="Never"/>
    <disable_collisions link1="gripper_left_finger_2_flexor_1_link" link2="gripper_left_thumb_rotatory_link" reason="Never"/>
    <disable_collisions link1="gripper_left_finger_2_flexor_2_link" link2="gripper_left_finger_2_flexor_3_link" reason="Adjacent"/>
    <disable_collisions link1="gripper_left_finger_2_flexor_2_link" link2="gripper_left_finger_2_rotatory_link" reason="Never"/>
    <disable_collisions link1="gripper_left_finger_2_flexor_2_link" link2="gripper_left_finger_2_tip_link" reason="Never"/>
    <disable_collisions link1="gripper_left_finger_2_flexor_2_link" link2="gripper_left_finger_3_rotatory_link" reason="Never"/>
    <disable_collisions link1="gripper_left_finger_2_flexor_2_link" link2="gripper_left_palm_link" reason="Never"/>
    <disable_collisions link1="gripper_left_finger_2_flexor_2_link" link2="gripper_left_thumb_flexor_1_link" reason="Never"/>
    <disable_collisions link1="gripper_left_finger_2_flexor_2_link" link2="gripper_left_thumb_rotatory_link" reason="Never"/>
    <disable_collisions link1="gripper_left_finger_2_flexor_3_link" link2="gripper_left_finger_2_rotatory_link" reason="Never"/>
    <disable_collisions link1="gripper_left_finger_2_flexor_3_link" link2="gripper_left_finger_2_tip_link" reason="Adjacent"/>
    <disable_collisions link1="gripper_left_finger_2_flexor_3_link" link2="gripper_left_finger_3_rotatory_link" reason="Never"/>
    <disable_collisions link1="gripper_left_finger_2_flexor_3_link" link2="gripper_left_palm_link" reason="Never"/>
    <disable_collisions link1="gripper_left_finger_2_flexor_3_link" link2="gripper_left_thumb_flexor_1_link" reason="Never"/>
    <disable_collisions link1="gripper_left_finger_2_flexor_3_link" link2="gripper_left_thumb_rotatory_link" reason="Never"/>
    <disable_collisions link1="gripper_left_finger_2_rotatory_link" link2="gripper_left_finger_2_tip_link" reason="Never"/>
    <disable_collisions link1="gripper_left_finger_2_rotatory_link" link2="gripper_left_finger_3_flexor_1_link" reason="Never"/>
    <disable_collisions link1="gripper_left_finger_2_rotatory_link" link2="gripper_left_finger_3_flexor_2_link" reason="Never"/>
    <disable_collisions link1="gripper_left_finger_2_rotatory_link" link2="gripper_left_finger_3_flexor_3_link" reason="Never"/>
    <disable_collisions link1="gripper_left_finger_2_rotatory_link" link2="gripper_left_finger_3_rotatory_link" reason="Never"/>
    <disable_collisions link1="gripper_left_finger_2_rotatory_link" link2="gripper_left_finger_3_tip_link" reason="Never"/>
    <disable_collisions link1="gripper_left_finger_2_rotatory_link" link2="gripper_left_palm_link" reason="Adjacent"/>
    <disable_collisions link1="gripper_left_finger_2_rotatory_link" link2="gripper_left_thumb_flexor_1_link" reason="Never"/>
    <disable_collisions link1="gripper_left_finger_2_rotatory_link" link2="gripper_left_thumb_flexor_2_link" reason="Never"/>
    <disable_collisions link1="gripper_left_finger_2_rotatory_link" link2="gripper_left_thumb_rotatory_link" reason="Never"/>
    <disable_collisions link1="gripper_left_finger_2_tip_link" link2="gripper_left_finger_3_rotatory_link" reason="Never"/>
    <disable_collisions link1="gripper_left_finger_2_tip_link" link2="gripper_left_thumb_rotatory_link" reason="Never"/>
    <disable_collisions link1="gripper_left_finger_3_flexor_1_link" link2="gripper_left_finger_3_flexor_2_link" reason="Adjacent"/>
    <disable_collisions link1="gripper_left_finger_3_flexor_1_link" link2="gripper_left_finger_3_flexor_3_link" reason="Never"/>
    <disable_collisions link1="gripper_left_finger_3_flexor_1_link" link2="gripper_left_finger_3_rotatory_link" reason="Adjacent"/>
    <disable_collisions link1="gripper_left_finger_3_flexor_1_link" link2="gripper_left_finger_3_tip_link" reason="Never"/>
    <disable_collisions link1="gripper_left_finger_3_flexor_1_link" link2="gripper_left_palm_link" reason="Never"/>
    <disable_collisions link1="gripper_left_finger_3_flexor_1_link" link2="gripper_left_thumb_flexor_1_link" reason="Never"/>
    <disable_collisions link1="gripper_left_finger_3_flexor_1_link" link2="gripper_left_thumb_flexor_2_link" reason="Never"/>
    <disable_collisions link1="gripper_left_finger_3_flexor_1_link" link2="gripper_left_thumb_rotatory_link" reason="Never"/>
    <disable_collisions link1="gripper_left_finger_3_flexor_2_link" link2="gripper_left_finger_3_flexor_3_link" reason="Adjacent"/>
    <disable_collisions link1="gripper_left_finger_3_flexor_2_link" link2="gripper_left_finger_3_rotatory_link" reason="Never"/>
    <disable_collisions link1="gripper_left_finger_3_flexor_2_link" link2="gripper_left_finger_3_tip_link" reason="Never"/>
    <disable_collisions link1="gripper_left_finger_3_flexor_2_link" link2="gripper_left_palm_link" reason="Never"/>
    <disable_collisions link1="gripper_left_finger_3_flexor_2_link" link2="gripper_left_thumb_flexor_1_link" reason="Never"/>
    <disable_collisions link1="gripper_left_finger_3_flexor_2_link" link2="gripper_left_thumb_flexor_2_link" reason="Never"/>
    <disable_collisions link1="gripper_left_finger_3_flexor_2_link" link2="gripper_left_thumb_rotatory_link" reason="Never"/>
    <disable_collisions link1="gripper_left_finger_3_flexor_3_link" link2="gripper_left_finger_3_rotatory_link" reason="Never"/>
    <disable_collisions link1="gripper_left_finger_3_flexor_3_link" link2="gripper_left_finger_3_tip_link" reason="Adjacent"/>
    <disable_collisions link1="gripper_left_finger_3_flexor_3_link" link2="gripper_left_palm_link" reason="Never"/>
    <disable_collisions link1="gripper_left_finger_3_flexor_3_link" link2="gripper_left_thumb_flexor_1_link" reason="Never"/>
    <disable_collisions link1="gripper_left_finger_3_flexor_3_link" link2="gripper_left_thumb_rotatory_link" reason="Never"/>
    <disable_collisions link1="gripper_left_finger_3_rotatory_link" link2="gripper_left_finger_3_tip_link" reason="Never"/>
    <disable_collisions link1="gripper_left_finger_3_rotatory_link" link2="gripper_left_palm_link" reason="Adjacent"/>
    <disable_collisions link1="gripper_left_finger_3_rotatory_link" link2="gripper_left_thumb_flexor_1_link" reason="Never"/>
    <disable_collisions link1="gripper_left_finger_3_rotatory_link" link2="gripper_left_thumb_flexor_2_link" reason="Never"/>
    <disable_collisions link1="gripper_left_finger_3_rotatory_link" link2="gripper_left_thumb_flexor_3_link" reason="Never"/>
    <disable_collisions link1="gripper_left_finger_3_rotatory_link" link2="gripper_left_thumb_rotatory_link" reason="Never"/>
    <disable_collisions link1="gripper_left_finger_3_tip_link" link2="gripper_left_thumb_flexor_1_link" reason="Never"/>
    <disable_collisions link1="gripper_left_finger_3_tip_link" link2="gripper_left_thumb_rotatory_link" reason="Never"/>
    <disable_collisions link1="gripper_left_palm_link" link2="gripper_left_thumb_flexor_1_link" reason="Default"/>
    <disable_collisions link1="gripper_left_palm_link" link2="gripper_left_thumb_rotatory_link" reason="Adjacent"/>
    <disable_collisions link1="gripper_left_thumb_finger_tip_link" link2="gripper_left_thumb_flexor_1_link" reason="Never"/>
    <disable_collisions link1="gripper_left_thumb_finger_tip_link" link2="gripper_left_thumb_flexor_2_link" reason="Never"/>
    <disable_collisions link1="gripper_left_thumb_finger_tip_link" link2="gripper_left_thumb_flexor_3_link" reason="Adjacent"/>
    <disable_collisions link1="gripper_left_thumb_flexor_1_link" link2="gripper_left_thumb_flexor_2_link" reason="Adjacent"/>
    <disable_collisions link1="gripper_left_thumb_flexor_1_link" link2="gripper_left_thumb_flexor_3_link" reason="Never"/>
    <disable_collisions link1="gripper_left_thumb_flexor_1_link" link2="gripper_left_thumb_rotatory_link" reason="Adjacent"/>
    <disable_collisions link1="gripper_left_thumb_flexor_2_link" link2="gripper_left_thumb_flexor_3_link" reason="Adjacent"/>
    <disable_collisions link1="gripper_left_thumb_flexor_2_link" link2="gripper_left_thumb_rotatory_link" reason="Never"/>
</robot>
