<?xml version="1.0" ?>
<robot name="tiago_pro" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find tiago_pro_moveit_config)/config/srdf/disable_collisions/tiago_pro_no-ee_no-ee.srdf.xacro" />
  <xacro:include filename="$(find tiago_pro_moveit_config)/config/srdf/disable_collisions/tiago_pro_allegro-hand_rokubi_no-arm-right.srdf.xacro" />
  <xacro:include filename="$(find tiago_pro_moveit_config)/config/srdf/disable_collisions/tiago_pro_no-arm-left_allegro-hand_rokubi.srdf.xacro" />
    <disable_collisions link1="arm_left_1_link" link2="arm_right_tool_link" reason="Never"/>
    <disable_collisions link1="arm_left_2_link" link2="arm_right_tool_link" reason="Never"/>
    <disable_collisions link1="arm_left_3_link" link2="arm_right_tool_link" reason="Never"/>
    <disable_collisions link1="arm_left_4_link" link2="arm_right_tool_link" reason="Never"/>
    <disable_collisions link1="arm_left_5_link" link2="arm_right_tool_link" reason="Never"/>
    <disable_collisions link1="arm_left_6_link" link2="arm_right_tool_link" reason="Never"/>
    <disable_collisions link1="arm_left_7_link" link2="arm_right_tool_link" reason="Never"/>
    <disable_collisions link1="arm_left_tool_link" link2="arm_right_1_link" reason="Never"/>
    <disable_collisions link1="arm_left_tool_link" link2="arm_right_2_link" reason="Never"/>
    <disable_collisions link1="arm_left_tool_link" link2="arm_right_3_link" reason="Never"/>
    <disable_collisions link1="arm_left_tool_link" link2="arm_right_4_link" reason="Never"/>
    <disable_collisions link1="arm_left_tool_link" link2="arm_right_5_link" reason="Never"/>
    <disable_collisions link1="arm_left_tool_link" link2="arm_right_6_link" reason="Never"/>
    <disable_collisions link1="arm_left_tool_link" link2="arm_right_7_link" reason="Never"/>
    <disable_collisions link1="arm_left_tool_link" link2="arm_right_tool_link" reason="Never"/>
    <disable_collisions link1="arm_left_tool_link" link2="gripper_right_allegro_tc_out_link" reason="Never"/>
    <disable_collisions link1="arm_left_tool_link" link2="gripper_right_coupler_link" reason="Never"/>
    <disable_collisions link1="arm_left_tool_link" link2="gripper_right_finger_1_flexor_1_link" reason="Never"/>
    <disable_collisions link1="arm_left_tool_link" link2="gripper_right_finger_1_flexor_2_link" reason="Never"/>
    <disable_collisions link1="arm_left_tool_link" link2="gripper_right_finger_1_flexor_3_link" reason="Never"/>
    <disable_collisions link1="arm_left_tool_link" link2="gripper_right_finger_1_rotatory_link" reason="Never"/>
    <disable_collisions link1="arm_left_tool_link" link2="gripper_right_finger_1_tip_link" reason="Never"/>
    <disable_collisions link1="arm_left_tool_link" link2="gripper_right_finger_2_flexor_1_link" reason="Never"/>
    <disable_collisions link1="arm_left_tool_link" link2="gripper_right_finger_2_flexor_2_link" reason="Never"/>
    <disable_collisions link1="arm_left_tool_link" link2="gripper_right_finger_2_flexor_3_link" reason="Never"/>
    <disable_collisions link1="arm_left_tool_link" link2="gripper_right_finger_2_rotatory_link" reason="Never"/>
    <disable_collisions link1="arm_left_tool_link" link2="gripper_right_finger_2_tip_link" reason="Never"/>
    <disable_collisions link1="arm_left_tool_link" link2="gripper_right_finger_3_flexor_1_link" reason="Never"/>
    <disable_collisions link1="arm_left_tool_link" link2="gripper_right_finger_3_flexor_2_link" reason="Never"/>
    <disable_collisions link1="arm_left_tool_link" link2="gripper_right_finger_3_flexor_3_link" reason="Never"/>
    <disable_collisions link1="arm_left_tool_link" link2="gripper_right_finger_3_rotatory_link" reason="Never"/>
    <disable_collisions link1="arm_left_tool_link" link2="gripper_right_finger_3_tip_link" reason="Never"/>
    <disable_collisions link1="arm_left_tool_link" link2="gripper_right_palm_link" reason="Never"/>
    <disable_collisions link1="arm_left_tool_link" link2="gripper_right_thumb_finger_tip_link" reason="Never"/>
    <disable_collisions link1="arm_left_tool_link" link2="gripper_right_thumb_flexor_1_link" reason="Never"/>
    <disable_collisions link1="arm_left_tool_link" link2="gripper_right_thumb_flexor_2_link" reason="Never"/>
    <disable_collisions link1="arm_left_tool_link" link2="gripper_right_thumb_flexor_3_link" reason="Never"/>
    <disable_collisions link1="arm_left_tool_link" link2="gripper_right_thumb_rotatory_link" reason="Never"/>
    <disable_collisions link1="arm_left_tool_link" link2="wrist_right_ft_link" reason="Never"/>
    <disable_collisions link1="arm_left_tool_link" link2="wrist_right_ft_tool_link" reason="Never"/>
    <disable_collisions link1="arm_right_1_link" link2="gripper_right_coupler_link" reason="Never"/>
    <disable_collisions link1="arm_right_1_link" link2="wrist_right_ft_tool_link" reason="Never"/>
    <disable_collisions link1="arm_right_5_link" link2="gripper_right_finger_3_flexor_3_link" reason="Never"/>
    <disable_collisions link1="arm_right_7_link" link2="wheel_rear_left_link" reason="Never"/>
    <disable_collisions link1="arm_right_tool_link" link2="gripper_left_allegro_tc_out_link" reason="Never"/>
    <disable_collisions link1="arm_right_tool_link" link2="gripper_left_coupler_link" reason="Never"/>
    <disable_collisions link1="arm_right_tool_link" link2="gripper_left_finger_1_flexor_1_link" reason="Never"/>
    <disable_collisions link1="arm_right_tool_link" link2="gripper_left_finger_1_flexor_2_link" reason="Never"/>
    <disable_collisions link1="arm_right_tool_link" link2="gripper_left_finger_1_flexor_3_link" reason="Never"/>
    <disable_collisions link1="arm_right_tool_link" link2="gripper_left_finger_1_rotatory_link" reason="Never"/>
    <disable_collisions link1="arm_right_tool_link" link2="gripper_left_finger_1_tip_link" reason="Never"/>
    <disable_collisions link1="arm_right_tool_link" link2="gripper_left_finger_2_flexor_1_link" reason="Never"/>
    <disable_collisions link1="arm_right_tool_link" link2="gripper_left_finger_2_flexor_2_link" reason="Never"/>
    <disable_collisions link1="arm_right_tool_link" link2="gripper_left_finger_2_flexor_3_link" reason="Never"/>
    <disable_collisions link1="arm_right_tool_link" link2="gripper_left_finger_2_rotatory_link" reason="Never"/>
    <disable_collisions link1="arm_right_tool_link" link2="gripper_left_finger_2_tip_link" reason="Never"/>
    <disable_collisions link1="arm_right_tool_link" link2="gripper_left_finger_3_flexor_1_link" reason="Never"/>
    <disable_collisions link1="arm_right_tool_link" link2="gripper_left_finger_3_flexor_2_link" reason="Never"/>
    <disable_collisions link1="arm_right_tool_link" link2="gripper_left_finger_3_flexor_3_link" reason="Never"/>
    <disable_collisions link1="arm_right_tool_link" link2="gripper_left_finger_3_rotatory_link" reason="Never"/>
    <disable_collisions link1="arm_right_tool_link" link2="gripper_left_finger_3_tip_link" reason="Never"/>
    <disable_collisions link1="arm_right_tool_link" link2="gripper_left_palm_link" reason="Never"/>
    <disable_collisions link1="arm_right_tool_link" link2="gripper_left_thumb_finger_tip_link" reason="Never"/>
    <disable_collisions link1="arm_right_tool_link" link2="gripper_left_thumb_flexor_1_link" reason="Never"/>
    <disable_collisions link1="arm_right_tool_link" link2="gripper_left_thumb_flexor_2_link" reason="Never"/>
    <disable_collisions link1="arm_right_tool_link" link2="gripper_left_thumb_flexor_3_link" reason="Never"/>
    <disable_collisions link1="arm_right_tool_link" link2="gripper_left_thumb_rotatory_link" reason="Never"/>
    <disable_collisions link1="arm_right_tool_link" link2="wrist_left_ft_link" reason="Never"/>
    <disable_collisions link1="arm_right_tool_link" link2="wrist_left_ft_tool_link" reason="Never"/>
    <disable_collisions link1="base_rear_laser_link" link2="gripper_right_finger_1_tip_link" reason="Never"/>
</robot>
